
.app2 #tab-bar{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.app2 #tab-bar li{
    flex:1;
    border: 1px solid gold;
}
.app2 #tab-bar > li.selected{
     background-color: gold;
}
.app2 #tab-content > li{
    display: none;
}
.app2 #tab-content > li.active {
    display: block;
  }